{% assign width = sizerate | default: 15 %}
{% assign height = width | minus: 1 %}
{% assign color = colorrate| default: '#F7BE07' %}
{% if rate %}
    <div class="fstar-rating-snippet-svg">
        {% assign floorrate = rate | floor %}
        {% for counter_val in (1..floorrate) %}
            <svg width="{{ width }}" height="{{ height }}" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.28141 0.0854492L9.30101 4.94114L14.5431 5.36139L10.5492 8.78263L11.7694 13.8981L7.28141 11.1568L2.79343 13.8981L4.01364 8.78263L0.0197001 5.36139L5.26182 4.94114L7.28141 0.0854492Z" fill="{{ color }}"/>
            </svg>
        {% endfor %}

        {% assign remainder = rate | modulo: 1 %}
        {% if remainder != 0 %}
            <svg class="half" width="{{ width }}" height="{{ height }}" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.54997 1.38743L10.1079 5.13315L10.2252 5.41513L10.5296 5.43954L14.5734 5.76373L11.4925 8.4029L11.2605 8.60158L11.3314 8.89865L12.2727 12.8447L8.8106 10.7301L8.54997 10.5709L8.28934 10.7301L4.82727 12.8447L5.76855 8.89865L5.83941 8.60158L5.60748 8.4029L2.52651 5.76373L6.57033 5.43954L6.87475 5.41513L6.99204 5.13315L8.54997 1.38743Z" stroke="{{ color }}"/>
                    <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="1" y="0" width="{{ width }}" height="{{ height }}">
                    <path d="M8.54997 0.0854492L10.5696 4.94114L15.8117 5.36139L11.8177 8.78263L13.038 13.8981L8.54997 11.1568L4.06198 13.8981L5.2822 8.78263L1.28825 5.36139L6.53038 4.94114L8.54997 0.0854492Z" fill="{{ color }}"/>
                </mask>
                <g mask="url(#mask0)">
                    <rect width="7.64417" height="14.2057" transform="matrix(-1 0 0 1 8.55884 -0.278809)" fill="{{ color }}"/>
                </g>
            </svg>
        {% endif %}

        {% assign ceilrate = rate | ceil %}
        {% assign remainingCounter = 5 | minus: ceilrate %}
        {% for counter_val in (1..remainingCounter) %}
            <svg class="half" width="{{ width }}" height="{{ height }}" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.54997 1.38743L10.1079 5.13315L10.2252 5.41513L10.5296 5.43954L14.5734 5.76373L11.4925 8.4029L11.2605 8.60158L11.3314 8.89865L12.2727 12.8447L8.8106 10.7301L8.54997 10.5709L8.28934 10.7301L4.82727 12.8447L5.76855 8.89865L5.83941 8.60158L5.60748 8.4029L2.52651 5.76373L6.57033 5.43954L6.87475 5.41513L6.99204 5.13315L8.54997 1.38743Z" stroke="{{ color }}"/>
            </svg>
        {% endfor %}
    </div>
{% endif %}